<p id="notice"><%= notice %></p>

<p>
  <strong>Definition:</strong>
  <%= @topic.definition %>
</p>

<p>
  <strong>Titles:</strong>
  <%= @topic.titles %>
</p>

<%= link_to 'Edit', edit_topic_path(@topic) %> |
<%= link_to 'Back', topics_path %>
